<html>
<head>
<style>

body {
    background: #273b5ce8;
    padding:100px;
}

.mainbox {

padding: 10px;
background: rgba(0,0,0,.5);
height: 400px;
width: 600px;
margin-left: 30%;
margin-right: 30%;
width: 39%;

}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 50px;
  }


.msg {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
  }


</style>

  </head>
  <body>

    <div class="mainbox">
      <div class="err">Oops !</div>
      <div class="msg">{{text}}</div>
      
    </body>

</html>