<style>
    
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
h2{
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  background: rgba(0,0,0,.5);
}
.tbl-content{
  height:60%;
  overflow-x:auto;
  margin-top: 0px;
}
th{
  padding: 15px;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
a{
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
}
section{
  margin: 50px;
}


</style>



<section>
    <h1>Try These Contests</h1>
    <h2>Handle: {{user}}</h2>
    <h2>Division: {{div}}</h2>
    <br><br>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th width=200>Contest ID</th>
            <th>Contest Link</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        {% for x,y,z in list %}
          <tr>
            <td width=200> {{x}}</td>
            <td><a href={{z}}>*{{y}} </a></td>
          </tr>
        {% endfor %}
          
        </tbody>
      </table>
    </div>
  </section>
  
  


<body>
    
   </body> 